/* Section styling */
.choose-section {
  background-color: #f9f9f9;
}

.choose-subtitle {
  color: #6e00ff;
  font-weight: 600;
  letter-spacing: 0%;
  min-height: 30px;
  max-height: 30px;
  gap: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  margin-top: 110px;
}

.choose-title {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  height: 105px;
  font-family: 'Rubik', sans-serif;
  font-style: semibold;
  font-size: 47px;
  line-height: 54px;
  letter-spacing: 0%;
  align-items: center;
  margin-top: 35px;
  margin-left: -10px;

}

/* Card styling */
.choose-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding: 20px;
}
#chooseID {
  margin-left: -40px;
  margin-top: 40px
}
.choose-card-body {
  padding: 15px;
  position: relative;
  text-align: start;
  min-height: 130px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.choose-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-style: semibold;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

.choose-card-text {
  font-size: 16px;
  color: #474747;
  line-height: 26px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: regular;
  letter-spacing: 0%;

}

.choose-second-title{
  font-size: 1.25rem;
  font-weight: 600;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-style: semibold;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;

}

.choose-second-text{
  font-size: 16px;
  color: #474747;
  line-height: 26px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: regular;
  letter-spacing: 0%;

}


/* Images */
.choose-img-top {
  max-height: 160px;
}

.choose-img-side {
  max-height: 360px;
}

/* Buttons */
.btn-choose {
  transition: all 0.3s ease-in-out;
  background-color: #00b753;
  color: #ffffff;
  border-radius: 5px;
  gap: 10px;
  font-family: 'poppins', sans-serif;
  font-style: medium;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-style: none;
}

.btn-success:hover {
  background-color: #157347;
  transform: scale(1.05);
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .choose-img-top,
  .choose-img-side {
    max-width: 100px;
  }
}
