body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 60px;
}